.our_companies{
    width: 100%;
    background: #B1C7E5;
    text-align:center;
    margin-top: 20%;
    h2{
    padding: 5% 0 0 0;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    }
    .companies{
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
    }
    .companie{
        width: 279px;
        height: 400px;
        background: #FFFFFF;
        margin: 5% 0;
        transition: 0.5s;
        button{
            box-sizing: border-box;
            width: 182px;
            height: 47px;
            border: 1px solid #000000;
            background-color: white;
            border-radius: 20px;
            font-family: 'Comfortaa';
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            transition: .4s background-color ease-in-out;
        
            &:hover{
                background-color: #000000;
            }
        
            &:hover a{
                color: #FFFFFF;
            }
        
            a{
                width: 182px;
                height: 47px;
                color: #000000;
                transition: .4s color ease-in-out;
            }
        } 
        h4{
            margin: 10px 0 10px 0;
            width: 279px;
            height: 50px;
            font-family: 'Comfortaa';
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            color: #000000;
        }
        .image-comp-1{
            width: 279px;
            height: 264px;
            background-image: url(../photos/space-x.png);
        }
        
        .image-comp-2{
            width: 279px;
            height: 264px;
            background-image: url(../photos/neuralink\ \(2\).png);
        }
        
        .image-comp-3{
            width: 279px;
            height: 264px;
            background-image: url(../photos/open-ai.png);
        }
    }
  }


  @media screen and (min-width: 1440px) {

    .our_companies{
        width: 100%;
        height: 760px;
        background: #B1C7E5;
        margin:0;
        h2{
            margin: 0;
            font-family: 'Comfortaa';
            font-weight: 400;
            font-size: 48px;         
            text-align: center;            
            color: #000000;
            margin-bottom: 5%;
        }
        .companies{
            display: flex;
            justify-content: center;
        }
        .companie{
            width: 365px;
            height: 520px;
            background: #FFFFFF;
            margin: 5% 0;
            transition: 0.5s;
            text-align: center;
            margin: 0 1%;
            button{
                margin-top: 5%;               
                border: 1px solid #000000;
                border-radius: 20px;
                width: 193px;
                font-family: 'Comfortaa';
                font-weight: 400;
                font-size: 24px;
                color: #000000;
                transition: 0.5s;
                a{
                    width: 235px;
                    height: 59px;
                    color: #000000;
                    transition: .4s color ease-in-out;
                    &:hover{
                        color: white;
                    }
                }
                &:hover{
                    background-color: #000000;
                    color: white;
                }
            }
            h4{    
                width: 100%;       
                font-family: 'Comfortaa';
                font-weight: 400;
                font-size: 24px;
                line-height: 27px;           
                color: #000000;
            }
            .image-comp-1{
                width: 365px;
                height: 345px;               
                background: url(../photos/space-x-comp.png);
            }
            
            .image-comp-2{
                width: 365px;
                height: 345px;             
                background: url(../photos/neuralink-comp.png);
            }
            
            .image-comp-3{
                width: 365px;
                height: 345px;             
                background: url(../photos/open-ai-comp.png);
            }
        }
      }

}