.cybertruck{
    display: flex;
    flex-direction: column;
    padding: 17px 31px 10px 11px;
}

.text-cybertruck{
    h3{
        width: 208px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 10px;
    }

    p{
        width: 277px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 35px;
        color: #000000;
        margin-bottom: 23px;
    }
}

.image-cybertruck{
    height: 149px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cybertruck-1{
        width: 167px;
        height: 90px;
    }

    .cybertruck-2{
        width: 121px;
        height: 74px;
        margin-top: 75px;
    }
}

@media screen and (min-width: 768px) {
    .cybertruck{
        flex-direction: row-reverse;
        justify-content: center;
    }
    .text-cybertruck{
        p{
            width: 320px;
        }
    }

    .image-cybertruck{
        height: 300px;
        margin-right: 22px;
    
        .cybertruck-1{
            width: 220px;
            height: 119px;
        }
    
        .cybertruck-2{
            width: 140px;
            height: 84px;
            margin-top: 100px;
            margin-left: 22px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .cybertruck{
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .text-cybertruck{
        p{
            width: 460px;
            font-size: 24px;
            line-height: 35px;
        }

        h3{
            width: 332px;
            font-size: 40px;
            line-height: 47px;
        }
    }

    .image-cybertruck{
        width: 665px;
        height: 302px;
        margin: 0;
    
        .cybertruck-1{
            width: 365px;
            height: 197px;
            
        }
    
        .cybertruck-2{
            width: 264px;
            height: 162px;
            margin-top: 100px;
        }
    }
}