.product{
    height: 450PX;
.gallery-section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
    h2{
        font-family: 'Comfortaa';
        font-weight: 400;
        font-size: 24px;
        line-height: 27px;
        text-align: center;
        margin: 10% 0;
        color: #000000;
        justify-content: left; 
        display: flex;
        margin-left: 10%;
    }
    .Gallery-image-4{
        position: absolute;
        top:130px;
        left:2%;
        width: 164px;
        height: 212px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
        background-image: url(../photos/Product-4.png);
    }
    .Gallery-image-3{
        position: absolute;
        left:50%;
        width: 164px;
        height: 212px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
        background-image: url(../photos/Product-3.png);  
    }
    .Gallery-image-2{
        position: absolute;       
        width: 164px;
        left:2%;
        height: 117px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35)); 
        background-image: url(../photos/Product-2.png);  
    }
    .Gallery-image-1{
        position: absolute;
        left:50%;
        top:230px;
        width: 164px;
        height: 118px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
        background-image: url(../photos/Product-1.png);
    }
}

@media screen and (min-width: 768px) {
.product{
        width: 100%;
        height: 480px; 
        background: #F5F5F5;
        padding-top: 5%;
            h2{
            margin: 0;        
            font-family: 'Comfortaa';
            font-weight: 400;
            font-size: 38px;  
            justify-content: left; 
            display: flex;
            margin-left: 5%;
        }
        .gallery-section{
            justify-content: center; 
            display: flex;
        }
        .Gallery-image-comp{
            margin: 0;
            position: absolute;
            width: 170px;
            height: 130px;
            left: 10px;
            top: 250px;
            background: url(../photos/Product-comp-4.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .Gallery-image-4{
            background-size: 10%;
            margin: 0;
            width: 370px;
            height: 130px;
            left: 200px;
            top: 250px;
            background: url(../photos/Product-comp-5.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .Gallery-image-3{
            background-size: 10%;
            margin: 0;
            width: 170px;
            height: 300px;
            left: 580px;
            top: 80px;
            background: url(../photos/Product-comp-3.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .Gallery-image-2{
            background-size: 10%;
            margin: 0;
            width: 270px;
            height: 150px;
            left: 300px;
            top: 80px;
            background: url(../photos/Product-comp-2.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .Gallery-image-1{
            background-size: 10%;
            margin: 0;
            width: 270px;
            height: 150px;
            left: 10px;
            top: 80px;
            background: url(../photos/Product-comp-1.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
}

@media screen and (min-width: 1440px) {

    .product{
        width: 100%;
        height: 650px; 
        background: #F5F5F5;
        padding-top: 5%;
            h2{

            margin: 0;        
            font-family: 'Comfortaa';
            font-weight: 400;
            font-size: 48px;  
            justify-content: left; 
            display: flex;
            margin-left: 10%;
        }
        .gallery-section{
            justify-content: center; 
            display: flex;
        }
        .Gallery-image-comp{
            margin: 0;
            position: absolute;
            width: 250px;
            height: 180px;
            left: 100px;
            top: 320px;
            background: url(../photos/Product-comp-4.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .Gallery-image-4{
            margin: 0;
            width: 450px;
            height: 180px;
            left: 370px;
            top: 320px;
            background: url(../photos/Product-comp-5.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .Gallery-image-3{
            margin: 0;
            width: 350px;
            height: 400px;
            left: 840px;
            top: 100px;
            background: url(../photos/Product-comp-3.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .Gallery-image-2{
            margin: 0;
            width: 350px;
            height: 200px;
            left: 470px;
            top: 100px;
            background: url(../photos/Product-comp-2.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .Gallery-image-1{
            margin: 0;
            width: 350px;
            height: 200px;
            left: 100px;
            top: 100px;
            background: url(../photos/Product-comp-1.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
}