.product{
    padding: 26px 0 0;
    display: flex;
    flex-direction: column;
    
    h2{
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 27px;
        text-align: center;
        color: #000000;
    }
}

.gallery-section{
    height: 336px;
    width: 360px;
    margin: 26px auto;
    position: relative;

    .gallery-image{
        position: absolute; 
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    }

    .g-i-1{
        width: 164px;
        height: 117px;
        left: 10px;
        top: 0px;
        background: url(../photos/Product-1.png);
    }

    .g-i-2{
        width: 164px;
        height: 212px;
        left: 185px;
        top: 0px;
        background: url(../photos/Product-2.png);
    }

    .g-i-3{
        width: 164px;
        height: 212px;
        left: 10px;
        top: 124px;
        background: url(../photos/Product-3.png);
    }

    .g-i-4{
        width: 165px;
        height: 118px;
        left: 185px;
        top: 218px;
        background: url(../photos/Product-4.png);
    }
}

@media screen and (min-width: 768px) {
    .product{
        h2{
            font-size: 48px;
            line-height: 54px;
        }
    }

    .gallery-section{
        width: 617px;
        height: 221px;
    
        .g-i-1{
            width: 192px;
            height: 112px;
            left: 0px;
            top: 0px;
            background: url(../photos/Product-1-laptop.png);
        }
    
        .g-i-2{
            width: 195px;
            height: 220px;
            left: 422px;
            top: 0px;
            background: url(../photos/Product-2-laptop.png);
        }
    
        .g-i-3{
            width: 194px;
            height: 111px;
            left: 210px;
            top: 0px;
            background: url(../photos/Product-3-laptop.png);
        }
    
        .g-i-4{
            width: 245px;
            height: 104px;
            left: 159px;
            top: 116px;
            background: url(../photos/Product-4-laptop.png);
        }

        .g-i-5{
            width: 139px;
            height: 104px;
            left: 0px;
            top: 116px;
            background: url(../photos/Product-5-laptop.png);
        }
    }
}

@media screen and (min-width: 1200px) {
    .gallery-section{
        width: 1166px;
        height: 417px;
    
        .g-i-1{
            width: 363px;
            height: 211px;
            left: 0px;
            top: 0px;
            background: url(../photos/Product-1-comp.png);
        }
    
        .g-i-2{
            width: 366px;
            height: 417px;
            left: 800px;
            top: 0px;
            background: url(../photos/Product-2-comp.png);
        }
    
        .g-i-3{
            width: 366px;
            height: 209px;
            left: 398px;
            top: 0px;
            background: url(../photos/Product-3-comp.png);
        }
    
        .g-i-4{
            width: 463px;
            height: 197px;
            left: 300px;
            top: 220px;
            background: url(../photos/Product-4-comp.png);
        }

        .g-i-5{
            width: 264px;
            height: 197px;
            left: 0px;
            top: 220px;
            background: url(../photos/Product-5-comp.png);
        }
    }
}

