.Top-prod{
margin: 5%;
width: 100%;
font-family: 'Comfortaa';
font-weight: 300;
font-size: 40px;
line-height: 23px;
color: rgba(54, 54, 54, 0.95);
mix-blend-mode: normal;
text-align: left;
display: flex;
justify-content: flex-start;
}